html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: inherit;
}
body::-webkit-scrollbar {
    display: none;
    }
body{
    font-family: 'Square Peg', cursive;
    font-size: 3rem;
    margin: 0;
    background-image: url(../img/hero.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: rgb(55,50,45);
    transition: all ease 0.5s;
    
}
@media (max-width: 800px) {
    body{
        background-size: auto 100vh;
        
    }
}
a{
    text-decoration: none;
    color: rgb(47,46,46);
}
a:hover{
    color: rgb(160,160,159);
}
li{
    list-style: none;
    padding: 1rem 0;
}

/* ---------- NAVEGADOR ---------- */
.nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 5rem;
    left: 0rem;
    z-index: 100;
    /* font-family: 'Updock', cursive; */
}
nav ul{
    transition: all ease 0.5s;
}
.menu-boton{
    width: 4rem;
    height: 4rem;
    /* background-color: rgba(255, 255, 255, 0.8); */
    position: absolute;
    top: -6rem;
    left: 3rem;
    padding: 0;
    z-index: 15;
    border-radius: 0.1rem;
    overflow: hidden;
}
.menu-boton:hover{
    cursor: pointer;
}
.menu-boton li{
    width: 100%;
    height: 0.1rem;
    background-color: rgb(55,50,45);
    padding: 0;
    margin: 1rem 0;
    transition: all ease 0.5s;
    position: absolute;
}
.menu-boton .l-1{
    top: -1rem;
}
.menu-boton .l-2{
    top: 0.3rem;
}
.menu-boton .l-3{
    top: 1.6rem;
}
.menu-boton .l-4{
    top: 2.9rem;
}

.open .l-1{
    opacity: 0;
}
.open .l-2{
    transform: rotateZ(-45deg);
    top: 0.95rem;
}
.open .l-3{
    transform: rotateZ(45deg);
    top: 0.95rem;
}
.open .l-4{
    opacity: 0;
}

.menu-lista{
    background-color: rgba(255, 255, 255, 0.905);
    width: 15rem;
    padding: 0;
    position: absolute;
    top: -8rem;
    left: 3rem;
    z-index: 10;
}
.o-1,.o-2,.o-3,.o-4,.o-5{
    position: absolute;
    width: 15rem;
    padding: 0;
    transition: all ease 0.5s;
    opacity: 0;
    top: -5rem;
}
.open .o-1,.open .o-2,.open .o-3,.open .o-4,.open .o-5{
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
}
.open .o-1{
    top: 6rem;
}
.open .o-2{
    top: 10rem;
}
.open .o-3{
    top: 14rem;
}
.open .o-4{
    top: 18rem;
} 
.open .o-5{
    top: 22rem;
} 

/* -------------------------------- */

/* ---------- HERO ---------- */

.hero{
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
}

.hero-blur{
    width: 40%;
    min-width: 380px;
    height: 40rem;
    background-color: rgba(238, 238, 238, 0.748);
    filter: blur(2px);
    border-radius: 1rem;
    margin-top: 10rem;
}
.hero-container{
    position: absolute;
    margin-top: 12rem;
}

.hero h1, .hero h3{
    font-weight: 200;
    z-index: 1;
}
.hero h1{
    font-family: 'Updock', cursive;
    font-weight: 600;
    font-size: 3.5rem;
}
.hero h3{
    font-size: 3rem;
}
@media (max-width: 380px) {
    .hero-blur{
        min-width: 300px;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .hero h3{
        font-size: 2.5rem;
    }
}
/* -------------------------------- */

/* ---------- Historia ---------- */
.historia-div{
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(247,233,232);
}
.historia-container{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(55,50,45);
}
.historia-div h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    letter-spacing: 1.35rem;
    font-size: 4rem;
}
.historia-div p{
    font-size: 3rem;
    font-family: 'Beau Rivage', cursive;
}

@media (max-width: 852px) {
    .historia-div{
        padding: 10rem 0;
        height: auto;
    }
}
@media (max-width: 380px) {
    .historia-div p{
        font-size: 4rem;
    }
}

/* -------------------------------- */

/* ---------- Imagenes ---------- */

.img-scroll{
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    background-color: #ffffff;
    /* background-color: #2e2e2e; */
}
.img-scroll .img-container{
    position: absolute;
    top: -10rem;
    width: 98rem;
    height: 55.6rem;
    background-color: #2e2e2e;
}
.img-scroll img{
    transition: all ease 0.75s;
}
.img-scroll .img,
.img-scroll .img-effect{
    width: 100%;
    height: 100%;
    opacity: 1;
}

.img-scroll .img-effect{
    opacity: 0.05;
}
@media (max-width: 850px) {
    .img-scroll .img-container{
        position: absolute;
        top: 0rem;
        width: 100%;
        height: 40.6rem;
        background-color: #2e2e2e;
    }
}
/* -------------------------------- */

/* ---------- Itinerario ---------- */
.itinerario-div{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.itinerario-div h1{
    font-weight: 300;
    font-family: 'EB Garamond', serif;
    font-size: 4rem;
}
.container{
    width: 80%;
}
.itinerario-card{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(199, 197, 197);
}
.itinerario-card:last-child{
    border-bottom: none;
}

.fecha{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    padding: 5rem 0;
    position: relative;
    font-size: 2.5rem;
    font-family: 'EB Garamond', serif;
}
.fecha .hoja{
    top: 2rem;
    left: 5rem;
    position: absolute;
    z-index: 10;
}
.fecha p{
    z-index: 20;
    margin: 0 1rem;
    letter-spacing: 0.6rem;
}
.evento{}

.evento a{
    font-weight: 600;
    letter-spacing: 0.2rem;
}
.evento h3{
    color: #d68d84;
    letter-spacing: 0.2rem;
    font-family: 'Cookie', cursive;
    font-size: 3rem;
}
.evento p{
    font-size: 2.5rem;
    letter-spacing: normal;
}
@media (max-width: 380px) {
    .itinerario-div h1{
        font-size: 3rem;
        font-weight: 600;
    }
    .itinerario-card{
        flex-direction: column;
    }
}
/* -------------------------------- */

/* ---------- Video ---------- */

.video-hero{
    background-color: white;
    width: 100%;
    overflow: hidden;
}
.video-hero video{
    width: 100%;
}

/* -------------------------------- */

/* ---------- ubicacion ---------- */

.ubicacion-div{
    background-image: url(../img/hero-3.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10rem 0;
}
.ubicacion-div h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

.ubicacion-div p{
    width: 80%;
    max-width: 80rem;
    font-size: 4rem;
    font-family: 'Cookie', cursive;
}

@media (max-width: 900px){
    .ubicacion-div{
        background-size: auto 100%;
    }
}
@media (max-width: 560px){
    .ubicacion-div{
        background-size: auto 100%;
    }
}
/* -------------------------------- */

/* ---------- ubicacion ---------- */
.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* -------------------------------- */
/* ---------- Registro ---------- */
.registro{
    background-color: white;
}
.registro .container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fill, minmax(32rem,1fr));;
}
.registro-card{
    width: 32rem;
    height: 15rem;
    margin: 0 auto;
}
.registro-card img{
    width: 100%;
    height: 100%;
}   
/* -------------------------------- */
/* ---------- FAQ ---------- */
.faq-div{
    background-color: rgb(247,233,232);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}

.faq-div .faq-card{
    width: 80%;
    max-width: 89rem;
}

.faq-div h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
.faq-card h3{
    margin: 0;
    font-size: 3rem;
}
.faq-card p{
    margin-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}